@model IEnumerable<Start.Models.Program>

@{
    ViewBag.Title = "Start Menu";
}

<div class="jumbotron" style="background-color:#02a8f2; color:#ffffff; text-align:center">
    <h1>Start Menu</h1>
    <p>Launch your Start Menu programs from the Web!</p>

</div>

<div>
    <form action="/Programs/Search" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <div class="input-group" style="width: 100%; margin-top: 32px; margin-bottom: 48px; margin-right: 0">
                    <input type="text" class="form-control" name="searchString" placeholder="Search for a Program">
                    <div class="input-group-append" style="display: inline !important">
                        <input type="submit" value="Search" class="btn" />
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>

</div>

<div class="row">
    <div class="col-md-12">
        <form method="post" >
            <div class="row">
            @Html.AntiForgeryToken()
            @{
                foreach (var item in Model)
                {
                    String name = item.Title;
                    var imageName = Path.GetFileName(@item.IconPath);

                    <div class="form-group col-md-2 text-center" style="height: 200px" >
                        <button type="submit" class="form-control" id="Link" name="execute" value="@item.Title" style="height: 70px; outline: none !important; border: none; box-shadow: none;"><img src="/Images/@imageName" alt="Submit" style="height: 60px; width: auto;" /></button>
                        <label for="Link">@item.Title</label>
                        <label for="Link" style="display: block; background-color: lightgray;">Run Count: @item.Count</label>
                    </div>
                }
            }
            </div>
        </form>
    </div>
</div>