
@{
    ViewBag.Title = "Settings";
}

    <div class="jumbotron" style="background-color:#02a8f2; color:#ffffff; text-align:center">
        <h1>Customize Program Icons</h1>

    </div>

<div class="row">
    <div class="col-md-12">
        <form action="/Programs/Settings" method="post" enctype="multipart/form-data">
            <table class="table">
                <thead>
                    <tr class="row">
                        <th class="col-md-5" scope="col">Program Name</th>
                        <th class="col-md-2" scope="col">Icon</th>
                        <th class="col-md-5" scope="col">Customize Icon</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.AntiForgeryToken()
                    @{
                        foreach (var item in Model)
                        {
                            <tr class="row">
                                <td class="col-md-4"><input type="text" style="width: 100%" name="progName" value="@item.Title" readonly /></td>

                                @if ((@item.IconPath == "/Images/noun_Lnk_903502_000000.png"))
                                {
                                    <td class="col-md-3"><img src="@item.IconPath" alt="program icon" style="width: auto; height: 60px" /></td>
                                }
                                else
                                {
                                    var imageName = Path.GetFileName(@item.IconPath);
                                    <td class="col-md-3"><img src="/Images/@imageName" alt="program icon" /></td>
                                }
                                <td class="col-md-5"><input type="file" class="form-control" name="uploadFile" id="file" /></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <input type="submit" value="Upload Image" class="submit" />
        </form>
    </div>
</div>

